			<table width="100%" border="0" cellpadding="0" cellspacing="0" class="bg5">
        <tr>
					<td><table width="778" border="0" cellpadding="0" cellspacing="0" class="bg5">
							<tr>
								<td width="20">&nbsp;</td>
								<td width="738"><table width="738" border="0" cellspacing="0" cellpadding="0">
										<tr valign="top">
											<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td><img src="../images/spacer.gif" alt="" width="25" height="20"></td>
													</tr>
													<tr>
														<td class="text5">About Us</td>
													</tr>
													<tr>
														<td>&nbsp;</td>
													</tr>
													<tr>
                            <td><p>
                              Carolina Recycling Company is a family owned company located in Greenville, SC.
                              Caleb Lewis started Trail or Trash Recycling in 2008, and after 2 ½ years of success,
                              Natalie, Caleb’s wife, decided she too wanted to be a part of a company who focuses
                              on assisting companies with green initiatives. So, in February of 2011 a partnership
                              between Natalie and Caleb was created, and Carolina Recycling Company was born,
                              focusing on bringing solutions for all recycling needs.</p></td>
													</tr>
												</table></td>
										</tr>
									</table>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td style="background-image:url(../images/homepage08.gif);"><img src="../images/spacer.gif" alt="" width="20" height="1"></td>
										</tr>
										<tr>
											<td><table width="738" border="0" cellspacing="0" cellpadding="0">
													<tr valign="top">
														<td width="738"><table width="738" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td><img src="../images/spacer.gif" alt="" width="25" height="20"></td>
                                </tr>
																<tr>
                                  <td><p><span class="text3">Our Mission</span><br>
                                    To assist companies in implementing and maintaining cost-effective recycling programs
                                    while offering prompt customer service, innovative solutions, and always keeping core
                                    Christian and family values in our everyday lives.
                                  </td>
																</tr>
															</table></td>
													</tr>
												</table></td>
										</tr>
										<tr>
											<td>&nbsp;</td>
										</tr>
									</table></td>
								  <td width="20">&nbsp;</td>
							</tr>
						</table></td>
				</tr>
			</table></td>
	</tr>
</table>
