<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title></title>
<meta name="keywords" content="">
<meta name="description" content="">
<%= stylesheet_link_tag 'default' %>
</head>
<body>
<table width="778" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr valign="top">
		<td width="423"><table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><img src="../images/subpage01.jpg" alt="" width="423" height="106"></td>
				</tr>
				<tr valign="top">
					<td class="bg1" style="height:117px;"><table width="423" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td width="65">&nbsp;</td>
								<td width="358"><a href="/" class="link2">Home</a><img src="../images/homepage01.gif" alt="" width="6" height="6" hspace="12"><a href="/pages/services" class="link2">Services</a><img src="../images/homepage01.gif" alt="" width="6" height="6" hspace="12"><a href="/pages/about_us" class="link2">About Us</a><img src="../images/homepage01.gif" alt="" width="6" height="6" hspace="12"><a href="/pages/contact" class="link2">Contact</a></td>
							</tr>
						</table></td>
				</tr>
			</table></td>
		<td width="355"><img src="../images/subpage03.jpg" alt="" width="355" height="223"></td>
	</tr>
</table>
<table width="778" border="0" align="center" cellpadding="0" cellspacing="0" class="bg2">
	<tr valign="top">
    <td width="245">
      <table width="245" border="0" cellpadding="0" cellspacing="0" class="bg_mountains" style="height:67px;">
      </table>
			<table width="221" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="21">&nbsp;</td>
					<td width="200">&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="text1"><img src="../images/homepage02.gif" alt="" width="9" height="9">&nbsp;&nbsp;RECENT NEWS </span></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><p><span class="text2">07.13.2006</span><br>
							<span class="text3">Lorem ipsum dolor sit</span></p></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><table width="200" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="66" rowspan="2"><img src="../images/homepage05.jpg" alt="" width="58" height="58" class="img1"></td>
								<td width="134"><p>Lorem ipsum dolor sit amet, sed diam nonummy nibh euismod tincidunt.</p></td>
							</tr>
							<tr>
								<td align="right"><a href="#"><img src="../images/homepage09.gif" alt="" width="57" height="11" border="0"></a></td>
							</tr>
						</table></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td><img src="../images/spacer.gif" alt="" width="20" height="1"></td>
					<td style="background-image:url(../images/homepage08.gif);"><img src="../images/spacer.gif" alt="" width="20" height="1"></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="text2">07.11.2006</span><br>
						<span class="text3">Veroeros consequat</span></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><table width="200" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="66" rowspan="2"><img src="../images/homepage06.jpg" alt="" width="58" height="58" class="img1"></td>
								<td width="134"><p>Lorem ipsum dolor sit amet, sed diam nonummy nibh euismod tincidunt.</p></td>
							</tr>
							<tr>
								<td align="right"><a href="#"><img src="../images/homepage09.gif" alt="" width="57" height="11" border="0"></a></td>
							</tr>
						</table></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td><img src="../images/spacer.gif" alt="" width="20" height="1"></td>
					<td style="background-image:url(../images/homepage08.gif);"><img src="../images/spacer.gif" alt="" width="20" height="1"></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><p><span class="text2">07.06</span><span class="text2">.2006</span><br>
							<span class="text3">Veroeros consequat</span></p></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><table width="200" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="66" rowspan="2"><img src="../images/homepage07.jpg" alt="" width="58" height="58" class="img1"></td>
								<td width="134"><p>Lorem ipsum dolor sit amet, sed diam nonummy nibh euismod tincidunt.</p></td>
							</tr>
							<tr>
								<td align="right"><a href="#"><img src="../images/homepage09.gif" alt="" width="57" height="11" border="0"></a></td>
							</tr>
						</table></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</table></td>
		<td width="533"><table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><img src="../images/subpage08.jpg" alt="" width="533" height="68"></td>
				</tr>
      </table>
      
      <%= yield  %>
      
<table width="778" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td><img src="../images/subpage05.jpg" alt="" width="778" height="7"></td>
	</tr>
	<tr>
		<td class="bg7" style="height:92px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td align="center" valign="top" style="height:50px;"><a href="/" class="link2">Home</a><img src="../images/homepage17.gif" alt="" width="7" height="7" hspace="15"><a href="/pages/services" class="link2">Services</a><img src="../images/homepage17.gif" alt="" width="7" height="7" hspace="15"><a href="/pages/about_us" class="link2">About Us</a><img src="../images/homepage17.gif" alt="" width="7" height="7" hspace="15"><a href="/pages/contact" class="link2">Contact</a></td>
				</tr>
				<tr>
					<td class="text6">Copyright (c) 2006 WebsiteName. All rights reserved.</td>
				</tr>
			</table></td>
	</tr>
</table>
<table width="778" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td>&nbsp;</td>
	</tr>
</table>
</body>
</html>
