<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title></title>
<meta name="keywords" content="">
<meta name="description" content="">
<%= javascript_include_tag :defaults, 'rails.validations', 'rails.validations.custom' %>
<%= stylesheet_link_tag 'default' %>
</head>
<body>
<table width="778" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr valign="top">
		<td width="423"><table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><img src="../images/subpage01.jpg" alt="" width="423" height="106"></td>
				</tr>
				<tr valign="top">
					<td class="bg1" style="height:117px;"><table width="423" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td width="65">&nbsp;</td>
								<td width="358"><a href="/" class="link2">Home</a><img src="../images/homepage01.gif" alt="" width="6" height="6" hspace="12"><a href="/pages/services" class="link2">Services</a><img src="../images/homepage01.gif" alt="" width="6" height="6" hspace="12"><a href="/pages/about_us" class="link2">About Us</a><img src="../images/homepage01.gif" alt="" width="6" height="6" hspace="12"><a href="/pages/contact" class="link2">Contact</a></td>
							</tr>
						</table></td>
				</tr>
			</table></td>
		<td width="355"><img src="../images/subpage03.jpg" alt="" width="355" height="223"></td>
	</tr>
</table>
<table width="778" border="0" align="center" cellpadding="0" cellspacing="0" class="bg2">
	<tr valign="top">
		<td width="778"><table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><img src="../images/mountains.jpg" alt="" width="778" height="68"></td>
				</tr>
      </table>
      
      <%= yield  %>
      
<table width="778" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td><img src="../images/subpage05.jpg" alt="" width="778" height="7"></td>
	</tr>
	<tr>
		<td class="bg7" style="height:92px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td align="center" valign="top" style="height:50px;"><a href="/" class="link2">Home</a><img src="../images/homepage17.gif" alt="" width="7" height="7" hspace="15"><a href="/pages/services" class="link2">Services</a><img src="../images/homepage17.gif" alt="" width="7" height="7" hspace="15"><a href="/pages/about_us" class="link2">About Us</a><img src="../images/homepage17.gif" alt="" width="7" height="7" hspace="15"><a href="/pages/contact" class="link2">Contact</a></td>
				</tr>
				<tr>
					<td class="text6">Copyright (c) 2011 Carolina Recycling Company. All rights reserved.</td>
				</tr>
			</table></td>
	</tr>
</table>
<table width="778" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td>&nbsp;</td>
	</tr>
</table>
</body>
</html>
